input[type=text],input[type=number], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=text].selectOption{
  display: block;
  width: 50%;
}

input[type=submit] {
  width: 100%;
  background-color: #4c98af;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #4577a0;
}

.post-settings{
  max-width: 700px;
  margin: 50px 40px;
  padding: 20px;
  border-radius: 5px;
  background-color: #f6f6f6;

}

.react-icon{
  background-color: #4c98af;
  padding: 5px 15px;
  cursor: pointer;
  border-radius: 5px;

}

.input-options{
  background-color: white;
  box-shadow:  2px 3px 5px #999;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 70px;
}

.input-option{
  padding: 10px 25px;
  border-bottom: solid 1px rgb(233, 233, 233);
  cursor: pointer;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

body{
  display: flex;
  justify-content: center;
}

.input-type{
  background-color: #f6f6f6;
  border: solid 1px rgb(221, 221, 221);
  padding: 10px 30px;
  margin: 20px 0;
  border-radius: 5px;
  /* position: relative; */
}

.delete-input{
  position: absolute;
  left: 12px;
  cursor: pointer;
}